h1 {
    color: $primary;
    font-weight: 300;
    margin-bottom: 20px;

    @include media-breakpoint-down(sm) {
        font-size: 32px;
    }
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin-bottom: 15px;
}

h6 {
    font-weight: 300;
}

.title {
    font-weight: 600;
    text-transform: uppercase;
}

header {
    text-align: center;
    margin-bottom: 50px;

    h6 {
        max-width: 540px;
        margin: 0 auto;
    }
}

.modal.show {
    display: block;
    background-color: rgba(0, 0, 0, 0.4);

    .modal-header {
        border-color: darken($body-bg, 10%);
        padding-top: 10px;
        padding-bottom: 10px;

        h5 {
            text-transform: uppercase;
            letter-spacing: 0.25rem;
        }
    }

    .modal-content {
        background: $body-bg;
        border-radius: 0;
    }
}

button.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    padding: 0 5px;
    cursor: pointer;
    background: darken($body-bg, 10%);
    border: none;
    border-bottom: 5px darken($body-bg, 10%) solid;

    &:hover .leftright{
        transform: rotate(-45deg);
        background-color: $primary;
    }

    &:hover .rightleft{
        transform: rotate(45deg);
        background-color: $primary;
    }

    .leftright{
        height: 4px;
        width: 40px;
        position: absolute;
        background-color: #fff;
        border-radius: 2px;
        transform: rotate(45deg);
        transition: all .3s ease-in;
    }
    
    .rightleft{
        height: 4px;
        width: 40px;
        position: absolute;
        background-color: #fff;
        border-radius: 2px;
        transform: rotate(-45deg);
        transition: all .3s ease-in;
    }
}

section {
    position: relative;
    background-color: $body-bg;
    padding: 100px 0 0 0;
}

.logo {
    width: 300px;
    max-width: 100%;
    margin-top: 80px;

}

#parallax-container {
    display: block;
    height: 100vh;

    .parallax-element {
        position: fixed;
        top: 0;
        background-position: center;
        background-size: auto 1030px;
        transform: translateY(0px);
        height: 100vh;
        width: 100%;
        text-align: center;
      
        &:last-child {
            background-position: bottom;
        }
    }
}

.mobile-banner {
    padding: 0;
    height: 100vh;
    width: 100%;
    background: #7bcae7 url(../images/banner.png) center bottom no-repeat;
    text-align: center;

    .logo {
        @media (max-height: 570px) { 
            margin-top: 40px;
         }
    }
}

.story {
    padding: 0;
    text-align: justify;
    position: relative;

    .woods {
        background: url(/img/woods.png) bottom center no-repeat;
        height: 974px;

        @include media-breakpoint-down(sm) {
            background-size: 200%;
            height: 400px;
        }
    }

    &::after {
        content: "";
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 400px;
        @include gradient-y($body-bg, transparent, 30%, 100%);

        @include media-breakpoint-down(sm) {
            height: 100px;
        }
    }

    .waterfall {
        padding: 100px 0;
        background: url(/img/waterfall.png) top center no-repeat;

        @include media-breakpoint-down(sm) {
            background: none;
        }
    }
}

.training-grounds {
    height: 1191px;
    background-image: url(/img/waterfall-end.png);
    background-position: bottom center;
    background-repeat: no-repeat;

    @include media-breakpoint-down(sm) {
        height: 1015px;
        background-image: url(/img/waterfall-end-mobile.png);
    }

    .training-timeline {
        .year {
            font-size: 20px;
            min-width: 108px;
            margin-top: 15px;

            @include media-breakpoint-down(sm) {
                min-width: 47px;
                font-size: 16px;
            }
        }

        .timeline {
            border-left: 3px solid $body-bg;
            padding: 15px 0 15px 20px;
            margin-left: 20px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 22px;
                left: -9px;
                width: 15px;
                height: 15px;
                border-radius: 15px;
                background: $primary;
            }

            .education {
                font-size: 20px;
                color: $primary;
            }

            .school {
                color: $gray-500;
            }

            .description {
                margin-top: 20px;
            }
        }
    }

    .training-details {
        margin-top: 20px;

        .minors {
            margin-bottom: 20px;
        }

        .experience-earned {
            img {
                width: 35px;
                margin: 5px 10px 0 0;
            }
        }
       
    }
}

.chat {
    background: #7ec8e3;
    padding: 0 0 0 0;
    color: #fff;

    label {
        text-transform: uppercase;
        font-weight: 600;
    }

    h1 {
        color: $secondary;
    }

    .contact-info {
        margin-bottom: 20px;
    }

    .social-icon {
        display: inline-block;
        margin-right: 10px;
        width: 30px;
        height: 30px;
    }

    .contact-info-title {
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}