
.quests {
    background: #1e4450 url(/img/roots.png) top center no-repeat;
    padding: 300px 0 100px 0;

    @include media-breakpoint-down(sm) {
        background-size: 100%;
        padding: 80px 0 0 0;
    }

    .quest {
        overflow: hidden;
        margin-bottom: 30px;
        position: relative;
        cursor: pointer;

        .content {
            opacity: 0;
            position: absolute;
            left: 15px;
            top: 0;
            width: calc(100% - 30px);
            height: 100%;
            background: $secondary;
            pointer-events: none;
            transition: opacity 0.4s;
            text-align: center;

            .content-text {
                width: 100%;
            }

            .icon {
                position: absolute; 
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-size: 80% 80%;
                background-repeat: no-repeat;
                background-position: center center;
                opacity: 0.05;

                &.icon-WebApp {
                    background-image: url(/img/skills/webapp.svg); 
                }

                &.icon-MobileApp {
                    background-image: url(/img/skills/mobileapp.svg); 
                }

                &.icon-Website {
                    background-image: url(/img/skills/website.svg); 
                }
            }

            

            .type {
                color: $primary;
                text-transform: uppercase;
                letter-spacing: 0.25rem;
                font-size: 20px;
            }

            .name {
                font-size: 40px;
                color: #fff;
                font-weight: 300;
            }
        }

        &:hover .content {
            opacity: 1;
        }

        &:nth-child(1) {
            height: 350px;

            @include media-breakpoint-down(lg) {
                height: 290px;
            }

            @include media-breakpoint-down(md) {
                height: 199px;
            }
        }

        &.nested-quest:nth-child(2), &.nested-quest:nth-child(3) {
            height: 241px;

            @include media-breakpoint-down(lg) {
                height: 195px;
            }

            @include media-breakpoint-down(md) {
                height: 143px;
            }
        }

        &:nth-child(3),&:nth-child(4) {
            height: 310px;

            @include media-breakpoint-down(lg) {
                height: 280px;
            }

            @include media-breakpoint-down(md) {
                height: 199px;
            }
        }
        
    }
}

.modal  {
    .quest-info {
        .label {
            margin-right: 5px;
            font-weight: 600;
        }
    }

    .title {
        margin-bottom: 5px;
    }

    .btn {
        margin-top: 20px;
        color: #fff;
        text-transform: uppercase;
        position: absolute;
        top: -14px;
        right: 59px;
    }

    .notice {
        margin-top: -20px;
        margin-bottom: 20px;
        text-align: center;
        background: $secondary;
        padding:10px;
    }
}